/* This file is for your main application css. */

$footer-padding: 1rem 1.5rem 1rem;

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.submit{
  width: 10rem;
  height: 2rem;
  -moz-border-radius: 10px;
  border-radius: 7px;
}

.playingCard{
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  transition: .5s ease;
  backface-visibility: hidden;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rows{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.pyramidCard{
  max-width: 15vw;
  margin-top: 1rem;
}

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Acre", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #e62272;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

@import "../node_modules/bulma/bulma.sass";